.main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    padding: 7px 12px;
    width: 100%;
    height: auto;
    background-color: #F8C453;
    color: rgb(12, 12, 12);
    font-weight: bold;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}
.main span{
    margin-right: 10px;
}